.close-button {
	position: relative;
	right: 0;
	left: 100%;
	transform: translate(-110%, 10%);
	width: 32px;
	height: 32px;
	opacity: 0.3;
	transition-duration: 0.25s;
}
.close-button:hover {
	opacity: 1;
	cursor: pointer;
}
.close-button:before,
.close-button:after {
	position: absolute;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
}
.close-button:before {
	transform: rotate(45deg);
}
.close-button:after {
	transform: rotate(-45deg);
}
