/* ItemDetails.css */
.item-details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 20px auto;
	position: absolute;
	left: 50px;
}

.item-order-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 20px auto;
	position: absolute;
	right: 20vw;
}

.item-image {
	width: 80%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-info {
	text-align: center;
	margin-top: 20px;
}

.item-name {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
}

.item-category {
	font-size: 1.2em;
	color: #6c757d;
	margin-bottom: 10px;
}

.item-desc {
	font-size: 1em;
	color: #6c757d;
	margin-bottom: 20px;
}

.price-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.item-price {
	font-size: 1.5em;
	font-weight: bold;
	color: #28a745;
}

.item-price-old {
	font-size: 1.2em;
	color: #dc3545;
	text-decoration: line-through;
}

.special-indicator {
	background-color: #ffc107;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.9em;
}

.add-to-cart-btn {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
	background-color: #0056b3;
}
