.LoginForm {
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	width: 500px;
	height: 650px;
	transition-duration: 0.25s;
}

.Username {
	border: 1px solid black;
	font-size: 25px;
	border-radius: 20px;
	height: 35px;
	width: 350px;
}

.Password {
	border: 1px solid black;
	font-size: 25px;
	border-radius: 20px;
	height: 35px;
	width: 350px;
}

.Submit {
	transition-duration: 0.25s;
	background-color: white;
	border: 1px solid black;
	width: 150px;
	height: 35px;
}

.Submit:hover {
	cursor: pointer;
}

.Submit:active {
	background-color: black;
	color: white;
}

.delete-form-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.confirmation-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirmation-buttons button {
	background-color: #f3f3f3;
	width: 5rem;
	height: 3rem;
	border: none;
	transition-duration: 0.25s;
}

.confirmation-buttons button:hover {
	background-color: #c1c3c3;
}
